html{
  background: #eeeeee
}

.mike_title {
  color: white;
  font-size: 80px;
  font-family: 'Patrick Hand', cursive;
  text-align: left;
  margin-top:20px;
  padding-left:60px;
  padding-top:20px;
}

.speech_button{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -150px;
}

.top_border {
  background-color:#979797; 
  height:150px;
}

#button{
  cursor: pointer;
}

#display_speech {
  text-align: center;
}

.queries {
  border:10px solid #979797;
  margin: 10px 250px 10px 250px;
  line-height: 30px;
  border-radius: 20px;
  background-color: white;

}

#redirect_button {
  height:200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.transcript {
  color:red;
  margin-top:300px;
}

.query_title{
  text-align:center;
  margin-top:10px;
  font-family: Lucida Sans Unicode;
}

.textRender {
  margin-left: 30px;
  font-family: Lucida Sans Unicode;
  font-size: 20px;
}

.tag_line {
  font-family: 'Lobster', cursive;
  text-align: center;
  font-size: 80px;
}

.border_button {
  background-color: #0088cc;
  font-family: 'Patrick Hand', cursive;
  float: right;
  margin: 5px;
  border-radius: 5px;
  font-weight: bold;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top:85px;
  margin-right:10px;
}

.someRender {
  margin-left: 30px;
  font-family: Lucida Sans Unicode;
  font-size: 20px;
  font-style: italic;
}

.bubble {
font-size: 30px;
font-family: 'Patrick Hand', cursive;
float:right;
margin-top:80px;
margin-right:300px;
position: relative;
width: 350px;
height: 145px;
padding: 4px;
background: #FFFFFF;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
border: #0088cc solid 5px;
}

.bubble:after {
content: '';
position: absolute;
border-style: solid;
border-width: 22px 29px 22px 0;
border-color: transparent #FFFFFF;
display: block;
width: 0;
z-index: 1;
left: -29px;
top: 83px;
}

.bubble:before {
content: '';
position: absolute;
border-style: solid;
border-width: 26px 33px 26px 0;
border-color: transparent #0088cc;
display: block;
width: 0;
z-index: 0;
left: -38px;
top: 79px;
}

.bubble_font {
  font-family: 'Patrick Hand', cursive;
  padding-left:10px;
}