html{
  background: #eeeeee
}

.mike_title {
  color: white;
  font-size: 60px;
  font-family: 'Fredoka One', cursive;
  text-align: left;
  margin-top:20px;
  padding-left:60px;
  padding-top:20px;
}

.speech_button{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -150px;
}

.top_border {
  background-color:#979797; 
  height:200px;
}

#button{
  cursor: pointer;
}

#display_speech {
  text-align: center;
}

.queries {
  border:1px solid black;
  margin: 5px 5px 5px 5px;
}

#redirect_button {
  height:200px;
}

.transcript {
  color:red;
  margin-top:300px;
}

.query_title{
  text-align:center;
  margin-top:10px;
}